.form-back {
  width: 600px;
  height: 1100px;
  margin: 0 auto;
  background: #f0ebe7;
  label {
    margin: 10px;
  }
}
.div-pt {
  width: 200px;
  height: 50px;
  color: #2a6495;
  font-size: 26px;
  margin: 20px auto;
}
.div-back {
  width: 600px;
  height: 30px;
  border-bottom: 2px dashed #b2b2b2;
  margin: 0 auto;
}
.div-back-9 {
  color: #3982ac;
  font-size: 18px;
  margin: 0 auto;
}
label {
  margin: -10px 0px 0px 30px;
  font-size: 14px;
  color: black;
}

.label-back {
  width: 150px;
  margin-top: 10px;
  float: left;
}
.text-back {
  width: 600px;
  height: 200px;
}
.but-back {
  width: 160px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 30px;
  background: #f7cc74;
  margin: 30px 0px 0px 180px;
}
